//- includes/head.pug
head
    title My Site
        script(src='/javascripts/jquery.js')
        script(src='../public/scripts/script.js')
        link(rel="stylesheet", href="../../public/styles/styles.css", type="text/css")