html
    include partials/head.pug
    head
        title= title
    body
        h1= message
        p= "Welcome to Neildor's server, it doesn't really do anything yet, but it might..."
        h2= currentTime
        
    include partials/foot.pug