body{
    margin: 0 auto;
    width: 90%;
}
h1{
    color: red;
    text-align: center;
    padding-top: 30%;
}
.center{
    text-align: center;
}
h2{
    text-align: center;
}
#footer{
    background: #888
}